<article
  class="face-snap"
  [ngClass]="{ snapped: buttonText === 'Oops, unSnap!' }"
>
  <h2>
    {{ faceSnap.title | uppercase }}
  </h2>
  <img
    class="face-snap-picture"
    [src]="faceSnap.imageUrl"
    [alt]="faceSnap.title"
  />
  <p>
    <button (click)="onSnap()">{{ buttonText }}</button>
    <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }">
      🤌 {{ faceSnap.snaps }}
    </span>
  </p>
  <p>
    {{ faceSnap.description }}
  </p>
  <p>
    Mis en ligne {{ faceSnap.createdDate | date: "à HH:mm, le d MMMM YYYY" }}
  </p>
  <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location }}</p>
</article>
